<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title><%= title %></title>
	<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/mobile_tool.css' />
	<link rel='stylesheet' href='/stylesheets/mobile_time.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="text-center title">Node Crawler 小程序</h4>
				<div class="text-center">
					<a href="/test" class="btn btn-primary">Test</a>
					<a href="/jd" class="btn btn-success">京东</a>
					<a href="/guahao" class="btn btn-success">114预约挂号</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
